body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Background Image */
.index_image {
    background-image: url("/images/history.jpg");
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    background-color: white;
}

a.logo {
    grid-column: 1;
    text-align: center;
    justify-items: center;
    margin: 5px;
}

img.logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

div.tabs {
    grid-column: 3;
    text-align: left;
    display: flex;
    align-items: center;
}

a.nav {
    color: white;
    padding: 5px;
    color: rgb(54, 69, 79);
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    font-family: 'Oswald', sans-serif;
    height: 500px;
    display: flex;
    /* Horizontal Center */
    justify-content: center;
    /* Vertical Center */
    /* align-items: center; */
    border: 3px solid black;
}
header {
    position: relative;
    height: 200px;
    width: 550px;
    border: 3px solid red;
    padding: 0;
}

h1 {
    font-size: 100px;
    padding: 0;
    margin: 0;
    color: rgba(72, 72, 72, 0.3);
}
h2 {
    position: absolute;
    top: 70px;
    left: 96px;
    padding: 0;
    margin: 0;
    color: rgb(54, 69, 79);
}

/*MOBILE RESPONSE*/
@media screen and (max-width: 768px) {}

/*END MOBILE RESPONSE*/