body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Background Image */
.index_image {
    background-image: url("/images/climb.jpg");
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    background-color: rgba(51, 75, 105, 0.7);
    font-style: italic;
    font-size: x-small;
    justify-content: center;
    align-items: center;
}

a.logo {
    grid-column: 1;
    text-align: center;
    justify-items: center;
    margin: 5px;
}

img.logo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

div.tabs {
    grid-column: 3;
    align-self: center;
}

a.nav {
    color: white;
    padding: 5px;
    color: white;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main {
    height: 94.5%;
    display: grid;
    grid-template-rows: 2fr .5fr 9fr;
    position: relative;
    /* justify-content: center; */
    align-items: center;
}
header {
    grid-row: 1;
    position: relative;
    width: 850px;
    justify-self: center;
}
.number-two, .climb, .tableName {
    font-family: 'Oswald', sans-serif;
    }
.number-two {
    font-size: 100px;
    padding: 0;
    margin: 0;
    color: rgba(72, 72, 72, 0.3);
}
.climb {
    position: absolute;
    top: 70px;
    left: 110px;
    padding: 0;
    margin: 0;
    color: rgb(54, 69, 79);
}
.filler {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 55px;
    left: 195px;
    color: rgb(72, 72, 72);
}
.mountainTabs {
    grid-row: 2;
    background-color: rgba(51, 75, 105, 0.7);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;;
}
.mountainLinks {
    position: relative;
    right: 350px;
    padding: 15px;
    color: rgb(72, 72, 72);
    text-decoration: none;
    transition: 0.5s;
}
.mountainLinks:hover {
    background-color:rgba(226, 226, 226, 0.851);
    color: rgb(51, 75, 105);
    border-radius: 5px;
    text-decoration: underline;
}
.centerSchedule {
    grid-row: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.schedule {
    background-color: rgba(255, 255, 255, 0.7);
    width: fit-content;
    height:fit-content;
    padding: 5px 15px 15px 15px;
    position: relative;
    right: 250px;
}
table {
    width: 100%;
    color: rgba(72, 72, 72);
}
.tableName {
    padding: 0px 0px 0px 25px;
    margin: 0;
    color: rgb(54, 69, 79);
}
td {
    padding: 0px 25px 0px 25px;
}
/*MOBILE RESPONSE*/
@media screen and (max-width: 768px) {}

/*END MOBILE RESPONSE*/